.detail {
    padding: 0 0 100px 0;
}

.animal-name {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 2.4rem;
    background-color: var(--bg-color);
}

.animal-images {
    margin-top: 40px;
}
.animal-img-current{
    min-height: 450px !important;
}
.animal-img__current {
    width: auto;
    height: 440px !important;
    max-width: 550px;
    max-height: 450px !important;
}

.animal-images__list {
    margin: 30px 0;
}

.animal-img__more, .animal-video {
    width: 100%;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid rgb(0, 97, 13);
}
.animal-img__more:hover, .animal-video:hover{
    box-shadow: 0 0 10px rgb(0, 255, 0);
    transform: scale(1.1);
    border: 2px solid rgb(255, 255, 255);

}
.animal-taxonomy {
    padding: 1rem;
    background-color: var(--bg-color);
    min-height: 100%;
}

.taxonomy-title,
.morphological-title,
.ecological-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
}

.taxonomy-wrap {
    display: flex;
    padding: 0 1rem;
}

.taxonomy-label {
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 4px;
}

.taxonomy-values {
    font-size: 1.8rem;
}

.animal-morphological,
.animal-ecological {
    margin-top: 40px;
    padding: 1rem;
    background-color: var(--bg-color);
}

.morphological-des,
.ecological-des {
    font-size: 1.8rem;
    text-align: justify;
    padding: 0 1rem;
}

.detail-search-input {
    border: 1px solid black;
    font-size: 1.6rem;
    padding: .75rem;
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 30px;
    border-radius: 20px;
    width: 80%;
}

.detail-search-icon {
    font-size: 2.2rem;
    background-color: var(--primary-color);
    padding: 1.2rem;
    border-radius: 50%;
}

.detail-search-icon:hover {
    color: var(--white-color);
}

.detail-search-icon:active {
    color: var(--black-color);
}

.animal-related {
    margin-top: 40px;
}

.animal-related-title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding: 2.4rem;
    margin: 0 0 40px 0;
    background-color: var(--bg-color);
}

.animal-related__list {
    background-color: var(--bg-color);
    margin-top: 40px;
    padding: 40px 0;
}
.btn_edit_pen:hover{
    color: black;
    background-color: #9efffa9f !important;
    box-shadow: 0 0 5px 0 green;
}
.wrap_img_animal_more{
    max-width: 100px !important;
    max-height: 100px !important;
}
.item_animal_more{
    max-width: 100px !important;
    max-height: 60px !important;
}